.tag_light_blue{
	background-color:#2E9AFE;

}

.tag_light_green{
	background-color:#82FA58;	
}

.tag_ocher{
	background-color:#FACC2E;	
}

.tag_white{
	background-color:white;	
}

font.FILTRE_TITRE_CRITERE_CP_SHPT_FOLLOW_UP          { font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif; color:black    ;font-size:10px    ;font-weight:bold    ;}    /*titre d'un critère de filtre*/
